/* body {
    font-family: Arial, sans-serif;
    background-color: lightblue;
    margin: 0;
    padding: 20px;
  }
  
  h1 {
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  
  
  form {
    margin-top: 20px;
    display: flex;
    gap: 10px;

  }
  
  input[type="text"] {
    padding: 8px;
    font-size: 16px;

  }
  
  button {
    padding: 8px 12px;
    font-size: 16px;
    margin-right: 5px;
  }
  
  .note {
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .note input[type="checkbox"] {
    margin-right: 5px;
  } */
 .card {
 color: #3BBA9C;
 background-color: #43455c;
 
 }
 .card-body{
  background-color: #43455c ;
  
 }
 .card-header{
  background-color:#3C3F58;
 }